{% extends "base.html.twig" %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <h2 class="text-center">Recapitulatif de votre Estimation</h2>
            </div>
        </div>
        <div class="card mt-5">
            <div class="card-header">
                <p>Bonjour {{ estimation.prenom }}, merci d'avoir choisi notre site pour faire l'estimation de votre projet. Voici un recapitulatif de votre demande. </p>
            </div>
            <div class="card-body">
                <h5 class="card-title text-center">Contexte de votre projet</h5>
                <ul>
                    <li class="card-text">- Votre demande concerne la {{ estimation.contexte }} d'un site web </li>
                    <li class="card-text">- Vous souhaitez un site web de type: {{ estimation.type }}</li>
                </ul>
                <h5 class="card-title text-center">Graphisme</h5>
                <ul>
                    {% if estimation.elementsGraphiques == 'aucun' %}
                    <li>- Vous disposez d'{{ estimation.elementsGraphiques}} éléments graphique</li>
                        {% else %}
                    <li>- Vous disposez d'un {{ estimation.elementsGraphiques}}</li>
                        {% endif %}

                    <li>- Vous souhaitez un niveau graphique {{ estimation.niveauGraphisme }}</li>
                    {% if estimation.logo != false %}
                    <li>- Vous souhaitez que nous créions votre logo</li>
                        {% endif %}
                    <li>{% if estimation.charteGraphique != false %}
                            - Vous souhaitez que nous créions votre charte graphique
                        {% endif %}
                    </li>
                </ul>
                <h5 class="card-title text-center">Contenu</h5>
                <ul>
                    <li>- Vous avez demandé {{ estimation.nombrePage }} page(s) pour votre site web</li>
                    {% set l = estimation.langue|length %}
                    {% if l != 0 %}
                        - Vous souhaitez les langues suivantes :
                            {% for i in 1..l %}
                                {% set cycle = cycle(estimation.langue, i) %}
                                {{ cycle|replace({'fr': 'Français', 'de': 'Allemand', 'en': 'Anglais', 'ar': 'Arabe', 'es': 'Espagnol', 'it': 'Italien', 'zh': 'Mandarin', 'pt': 'Portugais'}) }}
                                {{ not loop.last ? ', ' }}
                            {% endfor %}
                        {% endif %}
                </ul>
                <h5 class="card-title text-center">Fonctionnalités</h5>
                <div class="row">
                    <div class="col-6">
                        <ul>
                            {% if estimation.actualites != false %}
                            <li>- Vous voulez avoir une page consacrée à l'actualités</li>
                                {% endif %}
                            {% if estimation.blog != false %}
                            <li>- Vous voulez ajouter un blog au site web</li>
                                {% endif %}
                            {% if estimation.emailing != false %}
                            <li>- Vous souhaitez une solution d'emailing</li>
                                {% endif %}
                            {% if estimation.formulaire == 0 %}
                            <li>- Vous ne souhaitez pas de formulaire</li>
                                {% else %}
                                    <li>- Vous souhaitez {{ estimation.formulaire}} formulaire(s)</li>
                                {% endif %}
                            {% if estimation.espaceMembre != false %}
                            <li>- Vous souhaitez un espace membre</li>
                                {% endif %}
                            {% if estimation.forum != false %}
                            <li>- Vous souhaitez un forum</li>
                                {% endif %}
                           {% if estimation.gMaps  != false %}
                            <li>- Vous souhaitez intégrer Google Maps</li>
                                {% endif %}
                            {% if estimation.image == 0 %}
                            <li>- Vous ne souhaitez pas insérer d'image</li>
                                {% else %}
                                    <li>- Vous souhaitez insérer {{ estimation.image}} image(s)</li>
                                {% endif %}
                            {% if estimation.video == 0 %}
                            <li>- Vous ne souhaitez pas insérer de vidéo</li>
                                {% else %}
                                    <li>- Vous souhaitez insérer {{ estimation.video}} vidéo(s)</li>
                                {% endif %}
                            {% set hv = estimation.hebergeurVideo|length %}
                            {% if hv != 0 %}
                                - Vous hébergez vos videos chez:
                                {% for i in 1..hv %}
                                    {{ cycle(estimation.hebergeurVideo, i) }}
                                    {{ not loop.last ? ', ' }}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <h5 class="card-title text-center">Domaine & hébergement</h5>
                <ul>
                    {% if estimation.domaine  != false %}
                    <li>- Vous souhaitez nous confier l'achat du nom de domaine</li>
                        {% else %}
                    <li>- Vous avez déjà un nom de domaine</li>
                        {% endif %}
                    {% if estimation.gestion != false %}
                    <li>- Vous souhaitez nous confier la gestion de l'hébergement</li>
                        {% else %}
                    <li>- Vous avez déja un prestataire pour l'hébergement</li>
                        {% endif %}
                </ul>
                {% if estimation.suiviStats != false or estimation.assistance != false or estimation.marketingDigital|length !=0 %}
                    <h5 class="card-title text-center">Suivi & référencement</h5>
                {% endif %}
                <ul>
                    {% if estimation.suiviStats != false %}
                    <li>- Vous souhaitez recevoir tout les mois un suivi des stats de votre site web</li>
                        {% endif %}
                    {% if estimation.assistance  != false %}
                    <li>- Vous souhaitez une assistance technique</li>
                        {% endif %}
                    {% set md = estimation.marketingDigital|length %}
                    {% if md != 0 %}
                    - Vous souhaitez:
                            {% for i in 1..md %}
                                {% set cycle = cycle(estimation.marketingDigital, i) %}
                                {{ cycle|replace({'res_soc': 'un accompagnement réseaux sociaux', 'ref_nat': 'du référencement naturel', 'redac': 'un accompagnement rédaction web', 'campagne': 'une campagnes de marketing en ligne', 'aucun' : 'aucun accompagnement'}) }}
                                {{ not loop.last ? ', ' }}
                            {% endfor %}
                        {% endif %}
                </ul>
                <h5 class="card-title text-center">Maturité de votre projet</h5>
                <ul>
                    <li>- Vous {{ estimation.maturiteProjet|replace({'curiosite': 'demandez un devis par curiosité', 'devis': 'avez des devis', 'pas': 'n\'avez pas de devis'})}}</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Vous & votre projet
            </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <ul>
                                <li>- Vous êtes {{ estimation.nom }} {{ estimation.prenom }}</li>
                                {% if estimation.client == 'particulier' %}
                                <li>- Vous êtes un {{ estimation.client}}</li>
                                    {% else %}
                                        <li>- Vous êtes l'{{ estimation.client}} {{ estimation.raisonSocial }}</li>
                                    {% endif %}
                                {% if estimation.optin != false %}
                                <li>- Vous voulez etre inscrit à la newsletter</li>
                                    {% endif %}
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul>
                                <li>- Votre E-mail: {{ estimation.email }}</li>
                                {% if estimation.telephone != false %}
                                <li>- Votre numéro de téléphone : 0{{ estimation.telephone }}</li>
                                    {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-md-4 ml-auto mr-auto ">
                            <a class="btn btn-primary btn-block" href="{{ path('estimation') }}">Modifier le formulaire</a>
                        </div>
                        <div class="col-4"></div>
                    </div>
                </div>
        </div>
        <form method="post">
            <div class="row mt-5 mb-5">
                <div class="col-3"></div>
                <div class="col-md-5 ml-auto mr-auto text-center">
                    <label>En cochant, j'accepte de confier mes données à Digital User</label>
                    <input type="checkbox" id="estimation_rgpd" name="estimation[rgpd]" required>
                    <button class="btn btn-primary btn-lg btn-block" type="submit" id="estimation_save" name="estimation[save]">Valider</button>
                </div>
                <div class="col-3"></div>
            </div>
        </form>
    </div>
{% endblock %}