<html lang="fr-FR" class="js">
<head>
    <meta charset="UTF-8">
    <title>Devis en ligne | DigitalUser</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="canonical" href="https://www.digitaluser.fr/devis-en-ligne/">
    <meta property="og:locale" content="fr_FR">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Devis en ligne | DigitalUser">
    <meta property="og:url" content="https://www.digitaluser.fr/devis-en-ligne/">
    <meta property="og:site_name" content="DigitalUser">
    <meta property="article:publisher" content="https://www.facebook.com/agencedigitaluser/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Devis en ligne | DigitalUser">
    <meta name="twitter:site" content="@DigitalUserFR">
    <meta name="twitter:image" content="https://www.digitaluser.fr/wp-content/uploads/2019/07/DU.png">
    <meta name="twitter:creator" content="@DigitalUserFR">
    <script type="application/ld+json" class="yoast-schema-graph yoast-schema-graph--main">{"@context":"https://schema.org","@graph":[{"@type":"Organization","@id":"https://www.digitaluser.fr/#organization","name":"Agence web Digital User","url":"https://www.digitaluser.fr/","sameAs":["https://www.facebook.com/agencedigitaluser/","http://linkedin.com/company/digital-user","http://linkedin.com/company/digital-user","https://twitter.com/DigitalUserFR"],"logo":{"@type":"ImageObject","@id":"https://www.digitaluser.fr/#logo","url":false,"caption":"Agence web Digital User"},"image":{"@id":"https://www.digitaluser.fr/#logo"}},{"@type":"WebSite","@id":"https://www.digitaluser.fr/#website","url":"https://www.digitaluser.fr/","name":"DigitalUser","publisher":{"@id":"https://www.digitaluser.fr/#organization"},"potentialAction":{"@type":"SearchAction","target":"https://www.digitaluser.fr/?s={search_term_string}","query-input":"required name=search_term_string"}},{"@type":"WebPage","@id":"https://www.digitaluser.fr/devis-en-ligne/#webpage","url":"https://www.digitaluser.fr/devis-en-ligne/","inLanguage":"fr-FR","name":"Estimation","isPartOf":{"@id":"https://www.digitaluser.fr/#website"},"datePublished":"2019-08-24T19:12:07+00:00","dateModified":"2019-09-17T14:20:04+00:00","breadcrumb":{"@id":"https://www.digitaluser.fr/devis-en-ligne/#breadcrumb"}},{"@type":"BreadcrumbList","@id":"https://www.digitaluser.fr/devis-en-ligne/#breadcrumb","itemListElement":[{"@type":"ListItem","position":1,"item":{"@type":"WebPage","@id":"https://www.digitaluser.fr/","url":"https://www.digitaluser.fr/","name":"Accueil"}},{"@type":"ListItem","position":2,"item":{"@type":"WebPage","@id":"https://www.digitaluser.fr/devis-en-ligne/","url":"https://www.digitaluser.fr/devis-en-ligne/","name":"Estimation"}}]}]}</script>
    <link rel="dns-prefetch" href="//www.digitaluser.fr">
    <link rel="dns-prefetch" href="//opt-out.ferank.eu">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/faad4816bd.js"></script>
    <link href="{{ asset('ressources/css/general.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('ressources/fontawesome/css/all.css') }}">
    <link rel="stylesheet" id="searchandfilter-css" href="https://www.digitaluser.fr/wp-content/plugins/search-filter/style.css?ver=1" type="text/css" media="all">
    <link rel="stylesheet" id="divi-style-css" href="https://www.digitaluser.fr/wp-content/themes/Divi/style.dev.css?ver=3.24" type="text/css" media="all">
    <link rel="stylesheet" id="wpdreams-asl-basic-css" href="https://www.digitaluser.fr/wp-content/plugins/ajax-search-lite/css/style.basic.css?ver=4.7.26" type="text/css" media="all">
    <link rel="stylesheet" id="wpdreams-ajaxsearchlite-css" href="https://www.digitaluser.fr/wp-content/plugins/ajax-search-lite/css/style-curvy-blue.css?ver=4.7.26" type="text/css" media="all">
    <link rel="stylesheet" id="et-builder-googlefonts-cached-css" href="https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C700%2C700italic%2C900%2C900italic%7CMontserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;ver=5.2.3#038;subset=cyrillic,greek,vietnamese,latin,greek-ext,latin-ext,cyrillic-ext" type="text/css" media="all">
    <link rel="stylesheet" id="mc4wp-form-basic-css" href="https://www.digitaluser.fr/wp-content/plugins/mailchimp-for-wp/assets/css/form-basic.min.css?ver=4.5.3" type="text/css" media="all">
    <script type="text/javascript" src="https://www.digitaluser.fr/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp"></script>
    <script type="text/javascript" src="https://www.digitaluser.fr/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <style type="text/css">
        @font-face {
            font-family: 'Font-Awesome-brands';
            src: url('{{ asset('ressources/fontawesome/webfonts/fa-brands-400.eot') }}');
            src: url('{{ asset('ressources/fontawesome/webfonts/fa-brands-400.eot?#iefix') }}') format('embedded-opentype'),
            url('{{ asset('ressources/fontawesome/webfonts/fa-brands-400.woff2') }}') format('woff2'),
            url('{{ asset('ressources/fontawesome/webfonts/fa-brands-400.woff') }}') format('woff'),
            url('{{ asset('ressources/fontawesome/webfonts/fa-brands-400.ttf') }}') format('truetype'),
            url('{{ asset('ressources/fontawesome/webfonts/fa-brands-400.svg#icons') }}') format('svg');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Font-Awesome-solid';
            src: url('{{ asset('ressources/fontawesome/webfonts/fa-solid-900.eot') }}');
            src: url('{{ asset('ressources/fontawesome/webfonts/fa-solid-900.eot?#iefix') }}') format('embedded-opentype'),
            url('{{ asset('ressources/fontawesome/webfonts/fa-solid-900.woff2') }}') format('woff2'),
            url('{{ asset('ressources/fontawesome/webfonts/fa-solid-900.woff') }}') format('woff'),
            url('{{ asset('ressources/fontawesome/webfonts/fa-solid-900.ttf') }}') format('truetype'),
            url('{{ asset('ressources/fontawesome/webfonts/fa-solid-900.svg#icons') }}') format('svg');
            font-weight: normal;
            font-style: normal;
        }
    </style>
    <link rel="icon" href="https://www.digitaluser.fr/wp-content/uploads/2019/08/cropped-digital-user-logo-icon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon-precomposed" href="https://www.digitaluser.fr/wp-content/uploads/2019/08/cropped-digital-user-logo-icon-180x180.png">
    <meta name="msapplication-TileImage" content="https://www.digitaluser.fr/wp-content/uploads/2019/08/cropped-digital-user-logo-icon-270x270.png">

<body data-rsssl="1" class="et_transparent_nav et_fullwidth_nav et_non_fixed_nav et_show_nav et_cover_background et_pb_gutters2 et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_header_style_fullscreen">
{% block body %}
    <div id="page-container">
        <div class="et_slide_in_menu_container">
            <span class="mobile_menu_bar et_toggle_fullscreen_menu"><i class="fas fa-times fa-2x"></i></span>
            <div class="et_slide_menu_top">
                <div class="et_pb_top_menu_inner">
    				<div id="et-info">
                        <span><i class="fas fa-phone-alt"></i> 01 33 33 33 33</span>
                        <a href="mailto:Contact@digitaluser.fr"><span><i class="fas fa-envelope"></i> Contact@digitaluser.fr</span></a>
                    </div>
                </div>
            </div>
            <div class="et_pb_fullscreen_nav_container">
                <ul id="mobile_menu_slide" class="et_mobile_menu">
                    <li id="menu-item-730" class="mega-menu menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-730 et_first_mobile_item"><a href="https://www.digitaluser.fr/">Accueil</a></li>
                    <li id="menu-item-732" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-732"><a href="https://www.digitaluser.fr/agence-de-communication/">Agence de communication</a></li>
                    <li id="menu-item-737" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-737"><a href="https://www.digitaluser.fr/agence-de-referencement/">Agence de référencement</a></li>
                    <li id="menu-item-742" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-742"><a href="https://www.digitaluser.fr/creation-site-internet/">Création de sites internet</a></li>
                    <li id="menu-item-755" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-755"><a href="https://www.digitaluser.fr/les-realisations-de-lagence/">Les réalisations de l’agence</a></li>
                    <li id="menu-item-1408" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1408"><a href="https://www.digitaluser.fr/formations/">Formations <i class="fas fa-chevron-down fa-xs"></i></a>
                    <ul class="sub-menu">
                        <li id="menu-item-1412" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1412"><a href="https://www.digitaluser.fr/formations/formation-wordpress/">Formation WordPress</a></li>
                        <li id="menu-item-752" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-752"><a href="https://www.digitaluser.fr/formations/formation-marketing-sur-internet/">Formation marketing sur internet</a></li>
                        <li id="menu-item-1411" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1411"><a href="https://www.digitaluser.fr/formations/marketing-sur-les-reseaux-sociaux/">Marketing sur les réseaux sociaux</a></li>
                        <li id="menu-item-1409" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1409"><a href="https://www.digitaluser.fr/formations/formation-community-management/">Community management</a></li>
                    </ul>
                    </li>
                    <li id="menu-item-740" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-740"><a href="https://www.digitaluser.fr/blog/">Blog</a></li>
                    <li id="menu-item-757" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-757"><a href="https://www.digitaluser.fr/qui-sommes-nous/">Qui sommes-nous ?</a></li>
                    <li id="menu-item-741" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-741"><a href="https://www.digitaluser.fr/contact/">Contact</a></li>
				</ul>
			</div>
		</div>
        <header id="main-header">
			<div class="container">
                <div id="et-top-navigation" style="padding-left: 30px;">
                    <span class="et_toggle_fullscreen_menu icone menu_bars fa-2x"></span>
                </div>
                <div class="et_pb_row et_pb_row_0 et_pb_row_6col">
                    <div class="et_pb_column et_pb_column_1_6 et_pb_column_0 et_pb_css_mix_blend_mode_passthrough">
                        <div class="et_pb_module et_pb_image et_pb_image_0">
                            <a href="https://digitaluser.fr"><img alt="Digital User - L'utilisateur au cœur de votre projet" data-src="https://www.digitaluser.fr/wp-content/uploads/2019/08/digital-user-logo-couleur-header.png" src="https://www.digitaluser.fr/wp-content/uploads/2019/08/digital-user-logo-couleur-header.png"></a>
                        </div>
                    </div>
                    <div class="et_pb_column et_pb_column_1_6 et_pb_column_1 et_pb_css_mix_blend_mode_passthrough et_pb_column_empty"></div>
                    <div class="et_pb_column et_pb_column_1_6 et_pb_column_2 et_pb_css_mix_blend_mode_passthrough et_pb_column_empty"></div>
                    <div class="et_pb_column et_pb_column_1_6 et_pb_column_3 et_pb_css_mix_blend_mode_passthrough"></div>
                    <div class="et_pb_column et_pb_column_1_6 et_pb_column_4 et_pb_css_mix_blend_mode_passthrough">
                        <div class="et_pb_module et_pb_text et_pb_text_0 et_pb_bg_layout_light  et_pb_text_align_left">
                            <div class="et_pb_text_inner">
                                <p>03 33 33 33 33</p>
                            </div>
                        </div>
                    </div>
                    <div class="et_pb_column et_pb_column_1_6 et_pb_column_5 et_pb_css_mix_blend_mode_passthrough">
                        <div class="et_pb_module et_pb_text et_pb_text_1 et_pb_bg_layout_light  et_pb_text_align_left">
                            <div class="et_pb_text_inner">
                                <div id="ajaxsearchlite1" class="wpdreams_asl_container asl_w asl_m asl_m_1">
                                    <div class="probox">
                                        <div class="promagnifier">
                                            <div class="innericon">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                                                    <path id="magnifier-2-icon" d="M460.355,421.59L353.844,315.078c20.041-27.553,31.885-61.437,31.885-98.037 C385.729,124.934,310.793,50,218.686,50C126.58,50,51.645,124.934,51.645,217.041c0,92.106,74.936,167.041,167.041,167.041 c34.912,0,67.352-10.773,94.184-29.158L419.945,462L460.355,421.59z M100.631,217.041c0-65.096,52.959-118.056,118.055-118.056 c65.098,0,118.057,52.959,118.057,118.056c0,65.096-52.959,118.056-118.057,118.056C153.59,335.097,100.631,282.137,100.631,217.041 z"></path>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="prosettings" style="display:none;" data-opened="0">
                                            <div class="innericon">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                                                    <polygon id="arrow-25-icon" transform="rotate(90 256 256)" points="142.332,104.886 197.48,50 402.5,256 197.48,462 142.332,407.113 292.727,256 "></polygon>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="proinput">
                                            <form autocomplete="off" aria-label="Ajax search form">
                                                <input aria-label="Search input" type="search" class="orig" name="phrase" placeholder="Rechercher..." value="" autocomplete="off">
                                                <input aria-label="Autocomplete input, do not use this" type="text" class="autocomplete" name="phrase" value="" autocomplete="off">
                                                <span class="loading"></span>
                                                <input type="submit" value="Start search" style="width:0; height: 0; visibility: hidden;">
                                            </form>
                                        </div>
                                        <div class="proloading">
                                            <div class="asl_loader">
                                                <div class="asl_loader-inner asl_simple-circle"></div>
                                            </div>
                                        </div>
                                        <div class="proclose">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                                                <polygon id="x-mark-icon" points="438.393,374.595 319.757,255.977 438.378,137.348 374.595,73.607 255.995,192.225 137.375,73.622 73.607,137.352 192.246,255.983 73.622,374.625 137.352,438.393 256.002,319.734 374.652,438.378 "></polygon>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div id="asl_hidden_data">
                                    <svg style="position: absolute;" height="0" width="0">
                                        <filter id="aslblur">
                                            <feGaussianBlur in="SourceGraphic" stdDeviation="4"></feGaussianBlur>
                                        </filter>
                                    </svg>
                                    <svg style="position: absolute;" height="0" width="0">
                                        <filter id="no_aslblur"></filter>
                                    </svg>
                                </div>
                                <div class="asl_init_data wpdreams_asl_data_ct" style="display:none !important;" id="asl_init_id_1" data-asldata="ew0KICAgICJob21ldXJsIjogImh0dHBzOi8vd3d3LmRpZ2l0YWx1c2VyLmZyLyIsDQogICAgInJlc3VsdHN0eXBlIjogInZlcnRpY2FsIiwNCiAgICAicmVzdWx0c3Bvc2l0aW9uIjogImhvdmVyIiwNCiAgICAiaXRlbXNjb3VudCI6IDQsDQogICAgImltYWdld2lkdGgiOiA3MCwNCiAgICAiaW1hZ2VoZWlnaHQiOiA3MCwNCiAgICAicmVzdWx0aXRlbWhlaWdodCI6ICI3MHB4IiwNCiAgICAic2hvd2F1dGhvciI6IDAsDQogICAgInNob3dkYXRlIjogMCwNCiAgICAic2hvd2Rlc2NyaXB0aW9uIjogMSwNCiAgICAiY2hhcmNvdW50IjogIDAsDQogICAgImRlZmF1bHRJbWFnZSI6ICJodHRwOi8vd3d3LmRpZ2l0YWx1c2VyLmZyL3dwLWNvbnRlbnQvcGx1Z2lucy9hamF4LXNlYXJjaC1saXRlL2ltZy9kZWZhdWx0LmpwZyIsDQogICAgImhpZ2hsaWdodCI6IDAsDQogICAgImhpZ2hsaWdodHdob2xld29yZHMiOiAxLA0KICAgICJzY3JvbGxUb1Jlc3VsdHMiOiAwLA0KICAgICJyZXN1bHRhcmVhY2xpY2thYmxlIjogMSwNCiAgICAiYXV0b2NvbXBsZXRlIjogew0KICAgICAgICAiZW5hYmxlZCIgOiAxLA0KICAgICAgICAibGFuZyIgOiAiZnIiDQogICAgfSwNCiAgICAidHJpZ2dlcm9udHlwZSI6IDEsDQogICAgInRyaWdnZXJfb25fY2xpY2siOiAwLA0KICAgICJ0cmlnZ2VyX29uX2ZhY2V0X2NoYW5nZSI6IDEsDQogICAgInNldHRpbmdzaW1hZ2Vwb3MiOiAicmlnaHQiLA0KICAgICJocmVzdWx0YW5pbWF0aW9uIjogImZ4LW5vbmUiLA0KICAgICJ2cmVzdWx0YW5pbWF0aW9uIjogImZ4LW5vbmUiLA0KICAgICJocmVzdWx0aGlkZWRlc2MiOiAiMSIsDQogICAgInByZXNjb250YWluZXJoZWlnaHQiOiAiNDAwcHgiLA0KICAgICJwc2hvd3N1YnRpdGxlIjogIjAiLA0KICAgICJwc2hvd2Rlc2MiOiAiMSIsDQogICAgImNsb3NlT25Eb2NDbGljayI6IDEsDQogICAgImlpZk5vSW1hZ2UiOiAiZGVzY3JpcHRpb24iLA0KICAgICJpaVJvd3MiOiAyLA0KICAgICJpaXRlbXNXaWR0aCI6IDIwMCwNCiAgICAiaWl0ZW1zSGVpZ2h0IjogMjAwLA0KICAgICJpaXNob3dPdmVybGF5IjogMSwNCiAgICAiaWlibHVyT3ZlcmxheSI6IDEsDQogICAgImlpaGlkZUNvbnRlbnQiOiAxLA0KICAgICJpaWFuaW1hdGlvbiI6ICIxIiwNCiAgICAiYW5hbHl0aWNzIjogMSwNCiAgICAiYW5hbHl0aWNzU3RyaW5nIjogIj9hamF4X3NlYXJjaD17YXNsX3Rlcm19IiwNCiAgICAicmVkaXJlY3RvbmNsaWNrIjogMSwNCiAgICAicmVkaXJlY3RDbGlja1RvIjogInJlc3VsdHNfcGFnZSIsDQogICAgInJlZGlyZWN0Q2xpY2tMb2MiOiAic2FtZSIsDQogICAgInJlZGlyZWN0X29uX2VudGVyIjogMSwNCiAgICAicmVkaXJlY3RFbnRlclRvIjogInJlc3VsdHNfcGFnZSIsDQogICAgInJlZGlyZWN0RW50ZXJMb2MiOiAic2FtZSIsDQogICAgInJlZGlyZWN0X3VybCI6ICI/cz17cGhyYXNlfSIsDQogICAgIm92ZXJyaWRld3BkZWZhdWx0IjogMCwNCiAgICAib3ZlcnJpZGVfbWV0aG9kIjogImdldCINCn0NCg==">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</header>
        {% endblock %}
        <Footer>
            <div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">
					<div class="et_pb_row et_pb_row_2">
				        <div class="et_pb_column et_pb_column_4_4 et_pb_column_7 et_pb_css_mix_blend_mode_passthrough et-last-child">
                            <div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_light  et_pb_text_align_left">
                                <div class="et_pb_text_inner">
					                <p>Suivez nos actualités en vous abonnant à notre newsletter</p>
                                </div>
                            </div>
                            <div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_left">
				                <div class="et_pb_text_inner">
					                <p style="text-align: left;">
                                        <script>(function() {
                                            if (!window.mc4wp) {
                                                window.mc4wp = {
                                                    listeners: [],
                                                    forms    : {
                                                        on: function (event, callback) {
                                                            window.mc4wp.listeners.push({
                                                                event   : event,
                                                                callback: callback
                                                            });
                                                        }
                                                    }
                                                }
                                            }
                                        })();
                                        </script>
                                    </p>
                                    <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-902 mc4wp-form-basic" method="post" data-id="902" data-name="Newsletter">
                                        <div class="mc4wp-form-fields">
                                            <label>
                                                <input type="email" name="EMAIL" placeholder="Votre email" required>
                                                <input type="submit" value="Je m'abonne" class="newsletter">
                                            </label>
                                        </div>
                                        <label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off"></label>
                                        <input type="hidden" name="_mc4wp_timestamp" value="1568730028">
                                        <input type="hidden" name="_mc4wp_form_id" value="902">
                                        <input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1">
                                        <div class="mc4wp-response"></div>
                                    </form>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="et_pb_row et_pb_row_3">
				    <div class="et_pb_column et_pb_column_1_3 et_pb_column_8 et_pb_css_mix_blend_mode_passthrough">
				        <div class="et_pb_module et_pb_text et_pb_text_5 et_pb_bg_layout_light  et_pb_text_align_left">
				            <div class="et_pb_text_inner">
                                <h3>Contactez-nous</h3>
                                <p>03 33 33 33 33</p>
                                <p><a href="mailto:agence@digitaluser.com">agence@digitaluser.com</a></p>
                            </div>
                        </div>
                        <div class="et_pb_module et_pb_divider_0 et_pb_space et_pb_divider_hidden">
                            <div class="et_pb_divider_internal"></div>
                        </div>
                        <div class="et_pb_module et_pb_text et_pb_text_6 et_pb_bg_layout_light  et_pb_text_align_left">
                            <div class="et_pb_text_inner">
					            <p>© Digital User – 2019</p>
				            </div>
			            </div>
			        </div>
                    <div class="et_pb_column et_pb_column_1_3 et_pb_column_9 et_pb_css_mix_blend_mode_passthrough">
				        <div class="et_pb_module et_pb_text et_pb_text_7 et_pb_bg_layout_light  et_pb_text_align_left">
				            <div class="et_pb_text_inner">
					            <h3>Suivez-nous</h3>
				            </div>
                        </div>
                            <ul class="et_pb_module et_pb_social_media_follow et_pb_social_media_follow_0 clearfix et_pb_bg_layout_light  et_pb_text_align_left">
                                <li class="et_pb_with_border et_pb_social_media_follow_network_0 et_pb_social_icon et_pb_social_network_link  et-social-facebook et_pb_social_media_follow_network_0"><a href="#" class="icone facebook" title="Suivez sur Facebook" target="_blank"><span class="et_pb_social_media_follow_network_name" aria-hidden="true">Suivre</span></a></li>
                                <li class="et_pb_with_border et_pb_social_media_follow_network_1 et_pb_social_icon et_pb_social_network_link  et-social-twitter et_pb_social_media_follow_network_1"><a href="#" class="icone twitter" title="Suivez sur Twitter" target="_blank"><span class="et_pb_social_media_follow_network_name" aria-hidden="true">Suivre</span></a></li>
                                <li class="et_pb_with_border et_pb_social_media_follow_network_2 et_pb_social_icon et_pb_social_network_link  et-social-instagram et_pb_social_media_follow_network_2"><a href="#" class="icone instagram" title="Suivez sur Instagram" target="_blank"><span class="et_pb_social_media_follow_network_name" aria-hidden="true">Suivre</span></a></li>
                                <li class="et_pb_with_border et_pb_social_media_follow_network_3 et_pb_social_icon et_pb_social_network_link  et-social-linkedin et_pb_social_media_follow_network_3"><a href="#" class="icone linkedin" title="Suivez sur LinkedIn" target="_blank"><span class="et_pb_social_media_follow_network_name" aria-hidden="true">Suivre</span></a></li>
                                <li class="et_pb_with_border et_pb_social_media_follow_network_4 et_pb_social_icon et_pb_social_network_link  et-social-vimeo et_pb_social_media_follow_network_4"><a href="#" class="icone vimeo" title="Suivez sur Vimeo" target="_blank"><span class="et_pb_social_media_follow_network_name" aria-hidden="true">Suivre</span></a></li>
			                </ul>
			    </div>
                    <div class="et_pb_column et_pb_column_1_3 et_pb_column_10 et_pb_css_mix_blend_mode_passthrough">
				        <div class="et_pb_module et_pb_text et_pb_text_8 et_pb_bg_layout_light  et_pb_text_align_left">
				            <div class="et_pb_text_inner">
                                <h3>L’agence</h3>
                                <p><a href="https://www.digitaluser.fr/qui-sommes-nous">Qui sommes-nous ?</a></p>
                                <p><a href="https://www.digitaluser.fr/mentions-legales">Mentions légales</a></p>
                                <p><a href="https://www.digitaluser.fr/politique-confidentialite">politique de confidentialité</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </Footer>

        <span class="et_pb_scroll_top et-pb-icon"><i class="fas fa-chevron-up"></i></span>
        <script type="text/javascript" src="https://opt-out.ferank.eu/tarteaucitron.pro.js?locale=fr&amp;iswordpress=true&amp;domain=digitaluser.fr&amp;uuid=af050170f14cf55679532e1e7e21b1c567035609&amp;ver=5.2.3"></script>
        <script type="text/javascript" src="https://www.digitaluser.fr/wp-content/themes/Divi/includes/builder/scripts/jquery.mobile.custom.min.js?ver=3.24"></script>
        <script type="text/javascript" src="https://www.digitaluser.fr/wp-includes/js/jquery/ui/effect.min.js?ver=1.11.4"></script>
        <script type="text/javascript" src="https://www.digitaluser.fr/wp-content/themes/Divi/js/custom.js?ver=3.24"></script>
        <script type="text/javascript" src="https://www.digitaluser.fr/wp-content/themes/Divi/js/smoothscroll.js?ver=3.24"></script>
        <script type="text/javascript">
            /* <![CDATA[ */
            var ajaxsearchlite = {"ajaxurl":"https:\/\/www.digitaluser.fr\/wp-admin\/admin-ajax.php","backend_ajaxurl":"https:\/\/www.digitaluser.fr\/wp-admin\/admin-ajax.php","js_scope":"jQuery"};
            var ASL = {"ajaxurl":"https:\/\/www.digitaluser.fr\/wp-admin\/admin-ajax.php","backend_ajaxurl":"https:\/\/www.digitaluser.fr\/wp-admin\/admin-ajax.php","js_scope":"jQuery","detect_ajax":"0","scrollbar":"1","js_retain_popstate":"0","version":"4736"};
            /* ]]> */
        </script>
        <script type="text/javascript" src="https://www.digitaluser.fr/wp-content/plugins/ajax-search-lite/js/min/jquery.ajaxsearchlite.min.js?ver=4.7.26"></script>
        <script type="text/javascript">
            /* <![CDATA[ */
            var et_pb_custom = {"ajaxurl":"https:\/\/www.digitaluser.fr\/wp-admin\/admin-ajax.php","images_uri":"https:\/\/www.digitaluser.fr\/wp-content\/themes\/Divi\/images","builder_images_uri":"https:\/\/www.digitaluser.fr\/wp-content\/themes\/Divi\/includes\/builder\/images","et_frontend_nonce":"6b5134e550","subscription_failed":"Veuillez v\u00e9rifier les champs ci-dessous pour vous assurer que vous avez entr\u00e9 les informations correctes.","et_ab_log_nonce":"8b5ead0cb1","fill_message":"S'il vous pla\u00eet, remplissez les champs suivants:","contact_error_message":"Veuillez corriger les erreurs suivantes :","invalid":"E-mail non valide","captcha":"Captcha","prev":"Pr\u00e9c\u00e9dent","previous":"Pr\u00e9c\u00e9dente","next":"Prochaine","wrong_captcha":"Vous avez entr\u00e9 le mauvais num\u00e9ro dans le captcha.","ignore_waypoints":"no","is_divi_theme_used":"1","widget_search_selector":".widget_search","is_ab_testing_active":"","page_id":"638","unique_test_id":"","ab_bounce_rate":"5","is_cache_plugin_active":"no","is_shortcode_tracking":"","tinymce_uri":""};
            var et_pb_box_shadow_elements = [];
            /* ]]> */
        </script>
        <<script type="text/javascript" src="https://www.digitaluser.fr/wp-includes/js/hoverIntent.min.js?ver=1.8.1"></script>
        <script type="text/javascript">
            /* <![CDATA[ */
            var megamenu = {"timeout":"300","interval":"100"};
            /* ]]> */
        </script>
        <script type="text/javascript" src="https://www.digitaluser.fr/wp-content/plugins/megamenu/js/maxmegamenu.js?ver=2.7.2"></script>
        <script type="text/javascript">
            /* <![CDATA[ */
            var mc4wp_forms_config = [];
            /* ]]> */
        </script>
        <script type="text/javascript" src="https://www.digitaluser.fr/wp-content/plugins/mailchimp-for-wp/assets/js/forms-api.min.js?ver=4.5.3"></script>
        <!--[if lte IE 9]>
        <script type='text/javascript' src='https://www.digitaluser.fr/wp-content/plugins/mailchimp-for-wp/assets/js/third-party/placeholders.min.js?ver=4.5.3'></script>
        <![endif]-->
        <div id="ajaxsearchlitesettings1" class="searchsettings wpdreams_asl_settings asl_w asl_s asl_s_1" style="animation-duration: 300ms;">
            <form name="options" autocomplete="off">
                <fieldset class="asl_sett_scroll">
                    <legend style="display: none;">Generic selectors</legend>
                <div class="asl_option_inner hiddend">
                    <input type="hidden" name="qtranslate_lang" id="qtranslate_lang" value="0">
                </div>
            <div class="asl_option">
                <div class="asl_option_inner">
                    <input type="checkbox" value="checked" id="set_exactonly1" title="Exact matches only" name="set_exactonly">
                    <label for="set_exactonly1">Exact matches only</label>
                </div>
                <div class="asl_option_label">
                    Exact matches only
                </div>
            </div>
            <div class="asl_option">
                <div class="asl_option_inner">
                    <input type="checkbox" value="None" id="set_intitle1" title="Search in title" name="set_intitle" checked="checked">
                    <label for="set_intitle1">Search in title</label>
                </div>
                <div class="asl_option_label">
                    Search in title
                </div>
            </div>
            <div class="asl_option">
                <div class="asl_option_inner">
                    <input type="checkbox" value="None" id="set_incontent1" title="Search in content" name="set_incontent" checked="checked">
                    <label for="set_incontent1">Search in content</label>
                </div>
                <div class="asl_option_label">
                    Search in content
                </div>
            </div>
            <div class="asl_option_inner hiddend">
                <input type="checkbox" value="None" id="set_inexcerpt1" title="Search in excerpt" name="set_inexcerpt" checked="checked">
                <label for="set_inexcerpt1">Search in excerpt</label>
            </div>
            <div class="asl_option">
                <div class="asl_option_inner">
                    <input type="checkbox" value="None" id="set_inposts1" title="Search in posts" name="set_inposts" checked="checked">
                    <label for="set_inposts1">Search in posts</label>
                </div>
                <div class="asl_option_label">
                    Search in posts
                </div>
            </div>
            <div class="asl_option asl-o-last">
                <div class="asl_option_inner">
                    <input type="checkbox" value="None" id="set_inpages1" title="Search in pages" name="set_inpages" checked="checked">
                    <label for="set_inpages1">Search in pages</label>
                </div>
                <div class="asl_option_label">
                    Search in pages
                </div>
            </div>
                </fieldset>
            </form>
        </div>
        <div id="ajaxsearchliteres1" class="vertical wpdreams_asl_results asl_w asl_r asl_r_1" style="animation-duration: 300ms; opacity: 0;">
            <div class="results mCustScr _mCSap_1 mCS_no_scrollbar">
                <div id="mCSBap_1" class="mCustomScrollBox mCS-light mCSBap_vertical mCSBap_inside" style="max-height: 0;" tabindex="0">
                    <div id="mCSBap_1_container" class="mCSBap_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                        <div class="resdrg"></div>
                    </div>
                    <div id="mCSBap_1_scrollbar_vertical" class="mCSBap_scrollTools mCSBap_1_scrollbar mCS-light mCSBap_scrollTools_vertical" style="display: none;">
                        <a href="#" class="mCSBap_buttonUp">Scroll up the results</a>
                        <div class="mCSBap_draggerContainer">
                            <div id="mCSBap_1_dragger_vertical" class="mCSBap_dragger" style="position: absolute; min-height: 30px; top: 0;">
                                <div class="mCSBap_dragger_bar" style="line-height: 30px;"></div>
                            </div>
                            <div class="mCSBap_draggerRail"></div>
                        </div>
                        <a href="#" class="mCSBap_buttonDown">Scroll down the results</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="ajaxsearchlitesettings2" class="searchsettings wpdreams_asl_settings asl_w asl_s asl_s_2" style="animation-duration: 300ms;">
            <form name="options" autocomplete="off">
                <fieldset class="asl_sett_scroll">
            <legend style="display: none;">Generic selectors</legend>
            <div class="asl_option_inner hiddend">
                <input type="hidden" name="qtranslate_lang" id="qtranslate_lang" value="0">
            </div>
            <div class="asl_option">
                <div class="asl_option_inner">
                    <input type="checkbox" value="checked" id="set_exactonly2" title="Exact matches only" name="set_exactonly">
                    <label for="set_exactonly2">Exact matches only</label>
                </div>
                <div class="asl_option_label">
                    Exact matches only
                </div>
            </div>
            <div class="asl_option">
                <div class="asl_option_inner">
                    <input type="checkbox" value="None" id="set_intitle2" title="Search in title" name="set_intitle" checked="checked">
                    <label for="set_intitle2">Search in title</label>
                </div>
                <div class="asl_option_label">
                    Search in title
                </div>
            </div>
            <div class="asl_option">
                <div class="asl_option_inner">
                    <input type="checkbox" value="None" id="set_incontent2" title="Search in content" name="set_incontent" checked="checked">
                    <label for="set_incontent2">Search in content</label>
                </div>
                <div class="asl_option_label">
                    Search in content
                </div>
            </div>
            <div class="asl_option_inner hiddend">
                <input type="checkbox" value="None" id="set_inexcerpt2" title="Search in excerpt" name="set_inexcerpt" checked="checked">
                <label for="set_inexcerpt2">Search in excerpt</label>
            </div>

            <div class="asl_option">
                <div class="asl_option_inner">
                    <input type="checkbox" value="None" id="set_inposts2" title="Search in posts" name="set_inposts" checked="checked">
                    <label for="set_inposts2">Search in posts</label>
                </div>
                <div class="asl_option_label">
                    Search in posts
                </div>
            </div>
            <div class="asl_option asl-o-last">
                <div class="asl_option_inner">
                    <input type="checkbox" value="None" id="set_inpages2" title="Search in pages" name="set_inpages" checked="checked">
                    <label for="set_inpages2">Search in pages</label>
                </div>
                <div class="asl_option_label">
                    Search in pages
                </div>
            </div>
                </fieldset>
            </form>
        </div>
        <div id="ajaxsearchliteres2" class="vertical wpdreams_asl_results asl_w asl_r asl_r_2" style="animation-duration: 300ms; opacity: 0;">
            <div class="results mCustScr _mCSap_2 mCS_no_scrollbar">
                <div id="mCSBap_2" class="mCustomScrollBox mCS-light mCSBap_vertical mCSBap_inside" style="max-height: 0;" tabindex="0">
                    <div id="mCSBap_2_container" class="mCSBap_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                        <div class="resdrg"></div>
                    </div>
                    <div id="mCSBap_2_scrollbar_vertical" class="mCSBap_scrollTools mCSBap_2_scrollbar mCS-light mCSBap_scrollTools_vertical" style="display: none;">
                        <a href="#" class="mCSBap_buttonUp">Scroll up the results</a><div class="mCSBap_draggerContainer">
                            <div id="mCSBap_2_dragger_vertical" class="mCSBap_dragger" style="position: absolute; min-height: 30px; top: 0;">
                                <div class="mCSBap_dragger_bar" style="line-height: 30px;"></div>
                            </div>
                            <div class="mCSBap_draggerRail"></div>
                        </div>
                        <a href="#" class="mCSBap_buttonDown">Scroll down the results</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>