{% extends "base.html.twig" %}
{% block body %}
    {{ parent() }}
    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté <a href="{{ path('app_logout') }}"><button class="btn-warning btn">déconnexion</button></a>
        </div>
    {% endif %}
    <a href="{{ url("crm") }}"><button class="btn-link btn">Retour à la liste</button></a><br>
    A partir de {{ total }}€
    <a href="{{ url("crm_modif", {slug: estimation.clientId}) }}"><button class="btn-primary btn">Modifier les informations</button></a>
    <a href="{{ url("crm_renvoi", {slug: estimation.clientId}) }}"><button class="btn-secondary btn">Renvoyer l'estimation</button></a>
    <a href="{{ url("crm_suppr", {slug: estimation.clientId}) }}"><button class="btn-danger btn">Supprimer l'estimation</button></a>
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
    <a href="" onclick="Calendly.initPopupWidget({url:'https://calendly.com/jkenobi/rdv-telephonique?hide_event_type_details=1'});return false;"><button class="btn-success btn">Prendre RDV avec un client</button></a>
    <ul>
        <li>La demande concerne la {{ estimation.contexte }} d'un site web de type : {{ estimation.type }}</li>
        {% if estimation.elementsGraphiques == 'aucun' %}
            <li>Il dispose d'{{ estimation.elementsGraphiques}} éléments graphique</li>
        {% else %}
            <li>Il dispose d'un {{ estimation.elementsGraphiques}}</li>
        {% endif %}
        <li>un niveau graphique {{ estimation.niveauGraphisme }}</li>
        {% if estimation.logo != false %}
            <li>Il souhaite que nous créions un logo</li>
        {% endif %}
        {% if estimation.charteGraphique != false %}
            <li>Il souhaite que nous créions une charte graphique</li>
        {% endif %}
        <li>Il a demandé {{ estimation.nombrePage }} page(s) pour son site web</li>
        {% set l = estimation.langue|length %}
        {% if l != 0 %}
            {% for i in 1..l %}
                {% set cycle = cycle(estimation.langue, i) %}
                <li>Il souhaite les langues suivantes : {{ cycle|replace({'fr': 'Français', 'de': 'Allemand', 'en': 'Anglais', 'ar': 'Arabe', 'es': 'Espagnol', 'it': 'Italien', 'zh': 'Mandarin', 'pt': 'Portugais'}) }}</li>
            {% endfor %}
        {% endif %}
        {% if estimation.actualites != false %}
            <li>Il veut avoir une page consacrée à l'actualités</li>
        {% endif %}
        {% if estimation.blog != false %}
            <li>Il veut ajouter un blog au site web</li>
        {% endif %}
        {% if estimation.emailing != false %}
            <li>Il souhaite une solution d'emailing</li>
        {% endif %}
        {% if estimation.formulaire == 0 %}
            <li>Il ne souhaite pas de formulaire</li>
        {% else %}
            <li>Il souhaite {{ estimation.formulaire}} formulaire(s)</li>
        {% endif %}
        {% if estimation.espaceMembre != false %}
            <li>Il souhaite un espace membre</li>
        {% endif %}
        {% if estimation.forum != false %}
            <li>Il souhaite un forum</li>
        {% endif %}
        {% if estimation.gMaps  != false %}
            <li>Il souhaite intégrer Google Maps</li>
        {% endif %}
        {% if estimation.image == 0 %}
            <li>Il ne souhaite pas insérer d'image</li>
        {% else %}
            <li>Il souhaite insérer {{ estimation.image}} image(s)</li>
        {% endif %}
        {% if estimation.video == 0 %}
            <li>Il ne souhaite pas insérer de vidéo</li>
        {% else %}
            <li>Il souhaite insérer {{ estimation.video}} vidéo(s)</li>
        {% endif %}
        {% set hv = estimation.hebergeurVideo|length %}
        {% if hv != 0 %}
            <li>Il héberge ses videos chez</li>
            {% for i in 1..hv %}
                <li>{{ cycle(estimation.hebergeurVideo, i) }}</li>
            {% endfor %}
        {% endif %}
        {% if estimation.domaine  != false %}
            <li>Il souhaite nous confier l'achat du nom de domaine</li>
        {% endif %}
        {% if estimation.gestion != false %}
            <li>Il souhaite nous confier la gestion</li>
        {% endif %}
        {% if estimation.suiviStats != false %}
            <li>Il souhaite recevoir tout les mois un suivi des stats de son site web</li>
        {% endif %}
        {% if estimation.assistance  != false %}
            <li>Il souhaite une assistance technique</li>
        {% endif %}
        {% set md = estimation.marketingDigital|length %}
        {% if md != 0 %}
            <li>Il voudrait
            {% for i in 1..md %}
                {% set cycle = cycle(estimation.marketingDigital, i) %}
                {{ cycle|replace({'res_soc': 'un accompagnement réseaux sociaux', 'ref_nat': 'un référencement naturel', 'redac': 'un accompagnement rédaction web', 'campagne': 'une campagnes de marketing en ligne'}) }}</li>
            {% endfor %}
        {% endif %}
    </ul>
{% endblock %}