{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">
        <h1>Estimation en ligne</h1>
        <h2>Contexte de votre projet</h2>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                <label>Votre projet concerne</label>
                {{ form_widget(form.contexteProjet) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <div class="form-group">
                    <label>Vous souhaitez</label>
                    {{ form_widget(form.contexteProjet) }}
                </div>
            </div>
        </div>
        <h2>Graphisme</h2>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Les éléments de graphisme</label>
                    <p>Quel(s) élément(s) de graphisme allez-vous fournir ?</p>
                    {{ form_widget(form.graphisme) }}
                </div>
            </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Le niveau de graphisme</label>
                        <p>Quel niveau de graphisme souhaitez-vous ?</p>
                        {{ form_widget(form.niveauGraphisme) }}
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Souhaitez-vous créer un logo ?</label>
                    {{ form_widget(form.creationLogo) }}
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Souhaitez-vous créer une charte graphique ?</label>
                    {{ form_widget(form.creationChart) }}
                </div>
            </div>
        </div>
        <h2>Contenue</h2>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Le nombre de pages</label>
                    <p>Indiquez le nombre de pages que contiendra votre site.</p>
                    {{ form_widget(form.nombrePage) }}
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Les langues</label>
                    <p>En quelle(s) langue(s)souhaitez-vous que votre site soit traduit ?</p>
                    {{ form_widget(form.languesSouhaitees) }}
                </div>
            </div>
        </div>
        <h2>Fonctionnalités</h2>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Quelles seront les fonctionnalités présentes sur votre site ? </label>
                    {{ form_widget(form.serviceTiers) }}
                </div>
            </div>
        </div>
            <h2>Domaine & Hébergement</h2>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Souhaitez-vous déposer un nom de domaine pour votre site ?</label>
                        {{ form_widget(form.depotDomaine) }}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Souhaitez-vous un hébergement pour votre site ?</label>
                        {{ form_widget(form.gestionHebergement) }}
                    </div>
                </div>
            </div>
            <h2>Suivi & Référencement</h2>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Souhaitez-vous une assistance techenique mensuelle ?</label>
                        {{ form_widget(form.assistanceTechenique) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>De quelle(s) prestations marketing avez-vous besoin ?</label>
                        {{ form_widget(form.prestationWebmarketing) }}
                    </div>
                </div>
            </div>
            <h2>Vous & votre projet</h2>
            <div class="row">
                <div class="col-12">
                    <label>Quelle est la maturité de votre projet ?</label>
                </div>
                <div class="col-12">
                    <label>Quelle est votre raison sociale ?</label>
                    {{ form_widget(form.raison_social) }}
                </div>
            </div>

            <h2>Finalisez l'estimation de votre projet</h2>
            <p>Renseignez vos coordonnées pour que nous puissions vous contacter</p>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Nom</label>
                        {{ form_widget(form.nom) }}
                        <label>Prenom</label>
                        {{ form_widget(form.prenom) }}
                        <label>Votre adresse e-mail</label>
                        {{ form_widget(form.email) }}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <p>Vous souhaitez être contacté par téléphone ?</p>
                        <p>Renseignez votre numéro </p>
                        <label>Votre numéro de téléphone</label>
                        {{ form_widget(form.telephone) }}
                        <label>Nom de votre societé</label>
                        {{ form_widget(form.nom_societe) }}
                    </div>
                </div>
            </div>
    </div>

    {{ form_start(form) }}

{% endblock %}
